/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: inherit;
}

/* Custom Properties */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --roboto-font: "Roboto", sans-serif;
  --lato-font: "Lato", sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #ffffff;
  --clr-dark: #111111;
  --clr-gray: #696d7d;
  --clr-accent: #ff8b2c;

  --fs-h1: 37px;
  --fs-h2: 23px;
  --fs-h3: 18px;
  --fs-body: 15px;
  --fs-footer: 12px;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* General styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--lato-font);
  font-size: var(--fs-body);
  line-height: 1.6;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  text-align: center;
}

main {
  display: flex;
  width: 100%;
  padding: 0px 50px;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.title {
  font-size: 2rem;
  font-weight: normal;
}

.subtitle {
  font-family: var(--roboto-font);
  font-size: 18px;
}

/* buttons */

.button {
  padding: 6px 15px;
  border-radius: 8px;
  border: none;
  color: var(--clr-dark);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: var(--roboto-font);
  margin-right: 8px;
}

.form-button {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-form {
  margin-top: 10px;
  border: 1px solid #adb5bd;
}

.button-movie {
  color: var(--clr-light);
  right: 80px;
  top: calc(50% - 40px / 2 - 372px);
  background-color: var(--clr-accent);
}

.btn-available {
  font-size: 15px;
  background-color: rgba(38, 117, 38, 0.959);
  color: var(--clr-light);
  border-radius: 7px;
  padding: 5px;
}

.btn-rented {
  font-size: 15px;
  background-color: rgba(138, 15, 15, 0.863);
  color: var(--clr-light);
  border-radius: 7px;
  padding: 5px;
}

/* header */

.header_links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  color: var(--clr-accent);
}

.navbar {
  width: 100%;
}

/* section title */

.section_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* searchbar */

.search-bar {
  border: 1px solid #adb5bd;
  color: var(--clr-gray);
  border-radius: 8px;
  padding: 4px;
  background-color: #ffffff;
  width: 20%;
}

.search-bar input {
  border-style: hidden;
}
.no-outline:focus {
  outline: none;
}

.card-footer {
  padding: 0;
}
